<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Veículo ao Pátio</title>
</head>
<body>
    <form method="post" action="/api/post/vehicle">
        <select name="brand">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
        </select>

        <select name="model">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
        </select>

        <label>Placa: </label>
        <input id="plate" name="plate" type="text" />

        <label>Motivo: </label>
        <input id="reason" name="reason" type="text" />

        <input type="submit" />

    </form>
</body>
</html>