{% extends "bootstrap/base.html" %} {% block title %} Dashboard {% endblock %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}"> {% endblock %} {% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Consulta SEMOB</a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 main">
      <h1 class="page-header">Bem-vindo, {{ current_user.name }}</h1>

      {% if current_user.admin|int != 0 %}

      <div class="btn-group">
          <a href="/registerVehicle" class="btn btn-primary active">
              <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> Adicionar Veículo
          </a>
      </div>

      <h2 class="sub-header">Veículos na database</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Placa</th>
              <th>Data de Apreensão</th>
              <th>Motivo da Apreensão</th>
              <th>Situação</th>
              <th>Alterar Situação</th>
            </tr>
          </thead>
          <tbody>
            {% for vehicle in vehicles %}
            <tr>
              <td>{{vehicle.id}}</td>
              <td>{{vehicle.brand}}</td>
              <td>{{vehicle.model}}</td>
              <td>{{vehicle.plate}}</td>
              <td>{{vehicle.date}}</td>
              <td>{{vehicle.reason}}</td>
              {% if vehicle.situation|int != 0 %}
              <td>Pátio</td>
              {% else %}
              <td>Baixa</td>
              {% endif %}
              <td>
                  <form action="{{ url_for('flip') }}" method="post">
                    <input type="hidden" name="flip" value="{{ vehicle.id }}"/>
                    <input type=hidden class=current_url value="" name=current_url>
                    <input type="submit" class="btn btn-xs btn-danger" value="Alterar"/>
                  </form>
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% else %}
      <h2 class="page-header">Desculpe, {{ current_user.name }}, não há nada útil para você fazer aqui (ainda)</h2>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}